#root {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}
.App {
  width: 100%;
}
.footer {
  position: static;
  bottom: 0;
  background-color: aliceblue;
  color: black;
  height: fit-content;
  width: 100%;
}

#dark {
  background-color: black;
  color: rgb(229, 255, 0);
}
